*{margin: 0;}
p {font-size: 20px;}
h4 {font-size: 35px;}
h3 {font-size: 45px;}
h2 {font-size: 75px;}
h1 {font-size: 90px;}
.primry-color {
    color: #ff0000;
}
.btn {
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #ff0000;
    border: 0;
    border-radius: 10px;
    padding: 20px 25px;
    margin: 30px 0;
}
header {
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    color: white;
    text-align: center;
    width: 85%;
    height: 100vh;
}

.banner {
    padding-top: 200px;
}
main {
    max-width: 85%;
    margin: 0 auto;
}

.off {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}
.off h1, .off h2 {
    margin-bottom: 50px;
}

.midnight {
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
}

.m-pic {
    width: 100%;
}

.midnight h1, .midnight p {
    margin-top: 25px;
}

.mn-text {
    display: flex;
    gap: 200px;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 100px;

}


.hotel {
    text-align: center;
    margin: 75px 0;
    padding: 50px;
    background-color: #ffe7e7;
    border-radius: 10px;
}

.hotel h3 {
    margin-bottom: 25px;
}

.offer {
    display: flex;
    /* gap: 0px; */
    justify-content: space-between;
    align-items: center;
}
.offer div {
    width: 30%;
}
.offer h1, .offer h2, .offer h4, .offer p {
    margin-bottom: 20px;
}
.o-img {
    width: 80%;
    padding: 25px;
    border: 15px solid #ff0000;
    border-radius: 50%;
}

.holidays {
    text-align: center;
    margin-top: 100px;

}

.holidays h4, .holidays h1, .holidays p {
    margin-top: 25px;
}

.holi-img {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
}

#img-g44 {
    position: absolute;
    top: 40%;
    right: 300px;
}

.holi-pic {
    width: 100%;
}

.portfolio {
    margin: 100px 0;
}

.portfolio h2, .portfolio p {
    margin-top: 20px;
}

.p-image {
    width: 100%;
}

.p-row1, .p-row2 {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 10px;
}
.p-row1:hover, .p-row2:hover {
    display: flex;
    flex-direction: row-reverse;

}


.newsletter {
    text-align: center;
    background-color: #fff2f2;
    margin: 50px 0;
    border-radius: 10px;
    padding: 50px 0;
}

.newsletter h2, .newsletter p {
    margin-top: 25px;
}

.newsletter input {
    margin-top: 100px;
    padding: 25px 100px;
    font-size: 20px;
    font-weight: bold;
}
.newsletter input[type="email"] {
    border: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.newsletter input[type="submit"] {
    color: white;
    background-color: #ff0000;
    border: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 50px 100px;
}
.f-description {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.f-link {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 35px;
}
.f-describe {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}